springboot/commons/fly/src/main/resources/META-INF/fly.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0"
        xmlns="http://www.zing.com/schema/fly"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.zing.com/schema/fly"
        elementFormDefault="qualified">

    <xsd:element name="bar">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID"/>
            <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>